# These ignored file are just for testing

# files
TODOS.md
test.py
prime.py
test_prime.py
test.md
test.js
rust.rs

# media dir
media/

# Cache 
.DS_Store

# env file
*.env


# -- Backup files
*.bak

# Tmux 
tmux/.tmux/
